body{
    background-color: #FAFAFA;
}
.slider .indicators .indicator-item.active {
    background-color: #E91E63 !important;
}

.modal{
    height: 525px!important;
    max-height: unset!important;
}

.headline{
    font-weight: bolder;
    margin-top:0!important;
    margin-bottom:0!important;
}
.float-above-slider {
    margin-top: -25px;
    z-index: 1;
    float: right;
}
.event-section{
    margin-top: 25px!important;
}
.relative {
    position: relative;
    z-index: 0;
}

.card-title{
    font-weight: bold!important;
    text-transform: capitalize;
}

.card.horizontal {
    height: 300px;
    
}

.img-cover{
    height: 100%;
    width: 100%;
    background-size: cover;
}

.no-margin-bot{
    margin-bottom:0!important;
}

.no-margin-top{
    margin-top:0!important;
}